{{- $series := false -}}
{{- with .Parent -}}
  {{- if eq .Layout "series" -}}
    {{- $series = . -}}
  {{- else -}}
    {{- with .Parent -}}
      {{- if eq .Layout "series" -}}
        {{- $series = . -}}
      {{- end -}}
      {{/* A series can't have more than two layers of nested children */}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $series -}}
  {{- if not ($series.Scratch.Get "pages") -}}
    {{- range $series.Pages -}}
      {{- $series.Scratch.Add "pages" .Pages -}}
      {{- $series.Scratch.Add "pages" . -}}
    {{- end -}}
  {{- end -}}
  {{- with ($series.Scratch.Get "pages").Prev . -}}
    <a title="上一章节" class="page-turner" id="prev-chapter" href="{{ .Permalink }}">‹</a>
  {{- end -}}
  {{- with ($series.Scratch.Get "pages").Next . -}}
    <a title="下一章节" class="page-turner" id="next-chapter" href="{{ .Permalink }}">›</a>
  {{- end -}}
{{- end -}}
