/*** Color Defs */

:root {
  --color-text: hsl(45deg, 4%, 10%);
  --color-foc: hsl(45deg, 4%, 20%);
  --color-link: hsl(45deg, 4%, 40%);
  --color-fig: hsl(45deg, 4%, 80%);
  --color-hl: hsla(45deg, 30%, 70%, 50%);
  --color-bg: hsl(45deg, 4%, 98%);
  color-scheme: light;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-text: hsl(45deg, 4%, 80%);
    --color-foc: hsl(45deg, 4%, 70%);
    --color-link: hsl(45deg, 4%, 60%);
    --color-fig: hsl(45deg, 4%, 20%);
    --color-hl: hsla(45deg, 30%, 20%, 50%);
    --color-bg: hsl(45deg, 4%, 4%);
    color-scheme: dark;
  }
}

/*** Font Defs */

:root {
  --symbols-font-family: 'Noto Sans Math', 'Noto Sans Symbols', 'Noto Sans Symbols 2';
  --zh-font-family: 'Bitter', 'Noto Serif SC', var(--symbols-font-family), serif;
  --jp-font-family: 'Bitter', 'Noto Serif JP', var(--symbols-font-family), serif;
  --ko-font-family: 'Bitter', 'Noto Serif KR', var(--symbols-font-family), serif;
  --latin-font-family: 'Bitter', var(--symbols-font-family), serif;
  --greek-font-family: 'Noto Serif', var(--symbols-font-family), serif;
  --abjad-font-family: 'Bitter', 'Noto Naskh Arabic', var(--symbols-font-family), serif;
  --ipa-font-family: 'Charis SIL Phon', serif;
  --mono-font-family: 'Fira Code VF', 'Noto Serif SC', var(--symbols-font-family), monospace;
}

/*** Language Fonts */

body:lang(zh) {
  font-family: var(--zh-font-family);
}
:lang(ipa) {
  font-family: var(--ipa-font-family);
}
:lang(arb) {
  font-family: var(--abjad-font-family);
}
:lang(el) {
  font-family: var(--greek-font-family);
}
:lang(ja) {
  font-family: var(--jp-font-family);
}
:lang(ko) {
  font-family: var(--ko-font-family);
}
:not(:lang(zh), :lang(ipa), :lang(arb), :lang(el), :lang(ja), :lang(ko)) {
  font-family: var(--latin-font-family);
}

/*** Content Style */

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: normal;
}

* {
  text-decoration-color: currentColor;
  text-decoration-thickness: from-font;
}

::selection, :target {
  background-color: var(--color-hl);
}

.float {
  margin: 0;
  float: right;
}
@media screen and (max-width: 900px) {
  .float {
    margin: inherit;
    float: none;
  }
}

i:lang(zh), em:lang(zh) {
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

a {
  color: var(--color-link);
  text-decoration-style: dashed;
}
a:hover {
  color: var(--color-foc);
  text-decoration-style: solid;
}

h1 {
  font-weight: normal;
}

img, video {
  display: block;
  max-width: 100%;
  margin: auto;
}

figcaption {
  text-align: center;
  font-size: smaller;
}

figcaption > :first-child {
  margin-top: 0;
}
figcaption > :last-child {
  margin-bottom: 0;
}

ul, ol {
  padding-left: 1.15em;
}

blockquote {
  margin: 1rem;
  border-left: 3px solid var(--color-fig);
  padding-left: 1em;
  overflow: visible;
}
@media screen and (max-width: 900px) {
  blockquote {
    margin-left: unset;
  }
}

table {
  margin: 1em 0;
  border-collapse: collapse;
}
thead {
  border-bottom: 3px solid var(--color-fig);
}
tr {
  border-bottom: 1px solid var(--color-fig);
}
th, td {
  padding: 6px;
  text-align: left;
}

hr {
  margin: 2em auto;
  width: 38%;
  border: none;
  border-top: 1px solid var(--color-fig);
}

code, kbd, pre, samp {
  border-radius: 0.4em;
  line-height: 1.5;
  background-color: var(--color-hl);
  font-family: var(--mono-font-family);
  white-space: pre-wrap;
}

kbd {
  border-color: var(--color-fig);
  border-width: 1px;
  border-style: solid;
  padding: 0 2px;
  background-color: transparent;
}
