/*** Color Defs */

:root {
  --color-text: hsl(45deg, 4%, 10%);
  --color-foc: hsl(45deg, 4%, 20%);
  --color-link: hsl(45deg, 4%, 40%);
  --color-fig: hsl(45deg, 4%, 80%);
  --color-hl: hsla(45deg, 30%, 70%, 50%);
  --color-bg: hsl(45deg, 4%, 98%);
  color-scheme: light;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-text: hsl(45deg, 4%, 80%);
    --color-foc: hsl(45deg, 4%, 70%);
    --color-link: hsl(45deg, 4%, 60%);
    --color-fig: hsl(45deg, 4%, 20%);
    --color-hl: hsla(45deg, 30%, 20%, 50%);
    --color-bg: hsl(45deg, 4%, 4%);
    color-scheme: dark;
  }
}

/*** Font Defs */

:root {
  --symbols: 'Noto Sans Math', 'Noto Sans Symbols', 'Noto Sans Symbols 2';

  --sc: 'Bitter', 'Noto Serif SC', var(--symbols), serif;
  --jp: 'Bitter', 'Noto Serif JP', var(--symbols), serif;
  --kr: 'Bitter', 'Noto Serif KR', var(--symbols), serif;

  --arabic:     'Bitter', 'Noto Naskh Arabic',     var(--symbols), serif;
  --devanagari: 'Bitter', 'Noto Serif Devanagari', var(--symbols), serif;
  --georgian:   'Bitter', 'Noto Serif Georgian',   var(--symbols), serif;
  --greek:      'Noto Serif',                      var(--symbols), serif;
  --latin:      'Bitter',                          var(--symbols), serif;

  --ipa: 'Charis SIL Phon', serif;
  --monospace: 'Fira Code VF', 'Noto Serif SC', var(--symbols), monospace;
}

/*** Language Fonts */

body:lang(zh) { font-family: var(--sc); }
:lang(ja) { font-family: var(--jp); }
:lang(ko) { font-family: var(--kr); }

:lang(ar), :lang(sd) { font-family: var(--arabic); }
:lang(el) { font-family: var(--greek); }
:lang(hi) { font-family: var(--devanagari); }
:lang(ka) { font-family: var(--georgian); }

:lang(ipa) { font-family: var(--ipa); }

:not(:lang(zh), :lang(ja), :lang(ko), :lang(ipa),
  :lang(ar), :lang(sd), :lang(el), :lang(hi), :lang(ka)) {
  font-family: var(--latin);
}

/*** Content Style */

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: normal;
}

* {
  text-decoration-color: currentColor;
  text-decoration-thickness: from-font;
}

::selection, :target {
  background-color: var(--color-hl);
}

.float {
  margin: 0 0.5em;
  float: right;
}
@media screen and (max-width: 900px) {
  .float {
    margin: inherit;
    float: none;
  }
}

i:lang(zh), em:lang(zh) {
  font-style: normal;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

a {
  color: var(--color-link);
  text-decoration-style: dashed;
}
a:hover {
  color: var(--color-foc);
  text-decoration-style: solid;
}

h1 {
  font-weight: normal;
}

img, video {
  display: block;
  max-width: 100%;
  margin: auto;
}

figcaption {
  text-align: center;
  font-size: smaller;
}

figcaption > :first-child {
  margin-top: 0;
}
figcaption > :last-child {
  margin-bottom: 0;
}

ul, ol {
  padding-left: 1.15em;
}

blockquote {
  margin: 1rem;
  border-left: 3px solid var(--color-fig);
  padding-left: 1em;
  overflow: visible;
}
@media screen and (max-width: 900px) {
  blockquote {
    margin-left: unset;
  }
}

table {
  margin: 1em 0;
  border-collapse: collapse;
}
thead {
  border-bottom: 3px solid var(--color-fig);
}
tr {
  border-bottom: 1px solid var(--color-fig);
}
th, td {
  padding: 6px;
  text-align: left;
}

hr {
  margin: 2em auto;
  width: 38%;
  border: none;
  border-top: 1px solid var(--color-fig);
}

code, kbd, pre, samp {
  border-radius: 0.4em;
  line-height: 1.5;
  background-color: var(--color-hl);
  font-family: var(--monospace);
  white-space: pre-wrap;
}

kbd {
  border-color: var(--color-fig);
  border-width: 1px;
  border-style: solid;
  padding: 0 2px;
  background-color: transparent;
}
