/*** Body */

:root {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
}

#outer {
  padding: 0 4vw;
}

#inner {
  margin: 0 auto;
  padding: 6px 0;
  max-width: 42rem;
}

#inner.debug {
  background-image:
    repeating-linear-gradient(
      transparent 0 calc(var(--lh) * 0.5rem - 1px),
      #333333 calc(var(--lh) * 0.5rem - 1px) calc(var(--lh) * 0.5rem),
      transparent calc(var(--lh) * 0.5rem) calc(var(--lh) * 1rem - 1px),
      #222222 calc(var(--lh) * 1rem - 1px) calc(var(--lh) * 1rem)),
    repeating-linear-gradient(to right,
      transparent 0 calc(0.5rem - 1px),
      #101010 calc(0.5rem - 1px) 0.5rem,
      transparent 0.5rem calc(1rem - 1px),
      #151515 calc(1rem - 1px) 1rem);
}

/*** Header */

header h1 {
  margin: 0;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--color-link);
}

header nav a:not(:hover) {
  text-decoration: none;
}

header nav #breadcrumb {
  margin-right: 1rem;
}

header nav #site-nav {
  margin-left: auto;
}

header nav #site-nav a:not(:last-child) {
  margin-right: 0.25rem;
}

/*** Footer */

footer {
  color: var(--color-link);
  font-size: smaller;
}

/*** Main */

main {
  margin: calc(var(--lh) * 1rem) 0 calc(var(--lh) * 2rem) 0;
}

/*** Main: TOC */

#toc {
  margin: calc(var(--lh) * -1rem) 0 calc(var(--lh) * 0.5rem) 1rem;
  float: right;
}
@media screen and (max-width: 480px) {
  #toc {
    margin: 0;
    float: none;
  }
}

#toc {
  padding-left: 1rem;
  font-size: smaller;
}

#toc h2 {
  margin-bottom: 0;
}
@media screen and not (max-width: 480px) {
  #toc h2 {
    margin-top: 0;
  }
}

#toc p {
  margin: 0;
}

#toc ol {
  margin: 0;
  padding-left: 0;
  list-style-type: decimal;
}

#toc ol ol {
  padding-left: 2em;
}

#toc ::marker {
  content: counters(list-item, '.') '.\A0';
}

/*** Main: Meta */

.meta {
  display: flex;
}

.meta > * {
  color: var(--color-link);
  font-size: smaller;
}

.meta > :not(:last-child) {
  padding-right: calc(0.25em - 1px);
  border-right: 2px solid var(--color-fig);
  margin-right: calc(0.25em - 1px);
}

/*** Main: Content: Title Anchors */

.anchor {
  position: absolute;
  text-decoration: none;
  transform: translateX(-100%);
  padding-right: 5px;
}

.anchor-inner {
  visibility: hidden;
  color: var(--color-link);
}

.anchor:hover .anchor-inner,
  h1:hover .anchor-inner, h2:hover .anchor-inner, h3:hover .anchor-inner,
  h4:hover .anchor-inner, h5:hover .anchor-inner, h6:hover .anchor-inner {
  visibility: visible;
}

.anchor-inner:hover {
  color: var(--color-foc);
}

/*** Main: Content: Highlighting */

.chroma .line {
  display: flex;
}
.chroma .ln, .chroma .cl {
  display: block;
}
.chroma .ln {
  margin-right: 1em;
  color: #495050;
  user-select: none;
  white-space: pre;
}
.chroma .cl {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.chroma .x { color: #cb4b16 }
.chroma .k { color: #719e07 }
.chroma .kc { color: #cb4b16 }
.chroma .kd { color: #268bd2 }
.chroma .kn { color: #719e07 }
.chroma .kp { color: #719e07 }
.chroma .kr { color: #268bd2 }
.chroma .kt { color: #dc322f }
.chroma .nb { color: #b58900 }
.chroma .bp { color: #268bd2 }
.chroma .nc { color: #268bd2 }
.chroma .no { color: #cb4b16 }
.chroma .nd { color: #268bd2 }
.chroma .ni { color: #cb4b16 }
.chroma .ne { color: #cb4b16 }
.chroma .nf { color: #268bd2 }
.chroma .nt { color: #268bd2 }
.chroma .nv { color: #268bd2 }
.chroma .s { color: #2aa198 }
.chroma .sa { color: #2aa198 }
.chroma .sb { color: #586e75 }
.chroma .sc { color: #2aa198 }
.chroma .dl { color: #2aa198 }
.chroma .s2 { color: #2aa198 }
.chroma .se { color: #cb4b16 }
.chroma .si { color: #2aa198 }
.chroma .sx { color: #2aa198 }
.chroma .sr { color: #dc322f }
.chroma .s1 { color: #2aa198 }
.chroma .ss { color: #2aa198 }
.chroma .m { color: #2aa198 }
.chroma .mb { color: #2aa198 }
.chroma .mf { color: #2aa198 }
.chroma .mh { color: #2aa198 }
.chroma .mi { color: #2aa198 }
.chroma .il { color: #2aa198 }
.chroma .mo { color: #2aa198 }
.chroma .o { color: #719e07 }
.chroma .ow { color: #719e07 }
.chroma .c { color: #586e75 }
.chroma .ch { color: #586e75 }
.chroma .cm { color: #586e75 }
.chroma .c1 { color: #586e75 }
.chroma .cs { color: #719e07 }
.chroma .cp { color: #719e07 }
.chroma .cpf { color: #719e07 }
.chroma .gd { color: #dc322f }
.chroma .ge { font-style: italic }
.chroma .gr { color: #dc322f; font-weight: bold }
.chroma .gh { color: #cb4b16 }
.chroma .gi { color: #719e07 }
.chroma .gs { font-weight: bold }
.chroma .gu { color: #268bd2 }

/*** Main: Footnotes */

.footnote-ref::before {
  content: "[";
  user-select: text;
}
.footnote-ref::after {
  content: "]";
  user-select: text;
}

.footnotes {
  font-size: smaller;
}

.footnotes li p {
  margin: 0;
}

/*** Main: TOC Page */

#toc-page {
  font-size: revert;
}

#toc-page ol {
  list-style: disc;
}
#toc-page ol ol {
  list-style: circle;
}

#toc-page .meta {
  display: inline-block;
  margin-left: calc(0.25rem - 1px);
  border-left: 2px solid var(--color-fig);
  padding-left: calc(0.25rem - 1px);
  font-size: smaller;
}

/*** Main: List Page */

article {
  margin-bottom: calc(var(--lh) * 2rem);
}

ul.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

ul.pagination li {
  display: inline;
}

.page-item.disabled a, .page-item.disabled a:hover {
  color: var(--color-fig);
  text-decoration: none;
  cursor: default;
}

.page-item.active a, .page-item.active a:hover {
  color: var(--color-foc);
  text-decoration: underline;
  cursor: default;
}

/*** Main: Heti Addon */

heti-spacing {
  display: inline;
}

heti-spacing + sup, heti-spacing + sub {
  margin-inline-start: 0;
}

.heti-spacing-start {
  margin-inline-end: 0.25em;
}

.heti-spacing-end {
  margin-inline-start: 0.25em;
}

heti-adjacent {
  display: inline;
}

.heti-adjacent-half {
  margin-inline-end: -0.5em;
}

.heti-adjacent-quarter {
  margin-inline-end: -0.25em;
}

/*** Page Turner */

.page-turner {
  position: fixed;
  display: block;
  width: 4vw;
  height: 100vh;
  line-height: 0;
  text-decoration: none;
  text-align: center;
  font-size: 8vw;
  color: var(--color-fig);
  user-select: none;
}

.page-turner::before, .page-turner::after {
  content: "";
  display: block;
  padding-bottom: 50vh;
}

.page-turner:hover {
  background-color: var(--color-fig);
}

#prev-chapter {
  top: 0;
  left: 0;
}
#next-chapter {
  top: 0;
  right: 0;
}

/*** Print */

@media print {
  :root {
    font-size: 10.5pt;
  }

  body {
    background: none;
  }

  #outer {
    padding: 0;
  }

  #inner {
    margin: 0;
    padding: 0;
    max-width: none;
  }

  a {
    text-decoration-style: solid;
  }

  .content a:not(.anchor, .footnote-ref, .footnote-backref)::after {
    display: inline-block;
    content: "<" attr(href) ">";
    text-decoration: none;
    font-size: smaller;
    /* Without this line, Chromium will have a ridiculous bug when a very lone URL occurs. */
    overflow-wrap: anywhere;
  }

  #comment, .page-turner {
    display: none;
  }
}

@page {
  size: A4;
  margin: 2.54cm 3.18cm;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}

img, video, figure {
  page-break-inside: avoid;
}

p, blockquote, ul, ol, li {
  orphans: 2;
  widows: 2;
}
