{{- define "main" -}}
  <article>
    {{- partial "meta.html" . -}}
    <div class="content">
      {{- .Content | partial "content-filter.html" -}}
    </div>
    <div id="toc-page">
      <h2>目录</h2>
      <ol>
        {{- range .Pages.Reverse -}}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{- partial "meta.html" . -}}
            {{- if .IsSection -}}
              <ol>
                {{- range .Pages.Reverse -}}
                  <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{- partial "meta.html" . -}}
                  </li>
                {{- end -}}
              </ol>
            {{- end -}}
          </li>
        {{- end -}}
      </ol>
    </div>
  </article>
  {{- partial "main/comment.html" . -}}
{{- end -}}
