@import 'https://cdn.jsdelivr.net/npm/normalize.css/normalize.min.css';
@import 'https://cdn.jsdelivr.net/npm/firacode/distr/fira_code.css';
@import '/fonts/andika-phon/andika-phon.css';
@import 'highlight.css';

/* Body {{{ */

:root {
  --theme-color-h: 0;
  --theme-color-s: 4%;
  --color-0: hsl(var(--theme-color-h), var(--theme-color-s), 10%);
  --color-1: hsl(var(--theme-color-h), var(--theme-color-s), 20%);
  --color-2: hsl(var(--theme-color-h), var(--theme-color-s), 40%);
  --color-3: hsl(var(--theme-color-h), var(--theme-color-s), 80%);
  --color-4: hsl(var(--theme-color-h), var(--theme-color-s), 98%);
  --font-family:
    'Source Han Sans SC', 'Noto Sans CJK SC', 'PingFang SC', 'Microsoft Yahei',
    var(--latin-font-family);
  --latin-font-family: 'Source Sans Pro', 'Noto Sans', Tahoma, sans-serif;
  --ipa-font-family: 'Andika Phon', serif;
  --mono-font-family:
    'Fira Code', 'Source Han Sans SC', 'Noto Sans CJK SC',
    'PingFang SC', 'Microsoft Yahei', monospace;
}

body {
  background-color: var(--color-4);
  color: var(--color-0);
  line-height: normal;
  font-family: var(--font-family);
  font-feature-settings: "calt" 1;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 90%;
  }
}

#outer {
  padding: 0 4vw;
}

#inner {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 840px;
}

/* }}} */
/* General {{{ */

h1, h2, h3, h4, h5, h6 {
  margin: 0.67em 0;
}

h1 {
  font-weight: normal;
}

h2 {
  font-size: 19pt;
}

h3 {
  font-size: 18pt;
}

h4 {
  font-size: 17pt;
}

h5 {
  font-size: 16pt;
}

h6 {
  font-size: 15pt;
}

latin, .latin {
  font-family: var(--latin-font-family);
}

ipa, .ipa {
  font-family: var(--ipa-font-family);
}

a {
  color: var(--color-2);
  text-decoration-style: dashed;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--color-1);
}

a:hover {
  color: var(--color-1);
  text-decoration-style: solid;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

blockquote {
  border-left: var(--color-1) solid;
  padding-left: 1em;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  blockquote, figure {
    margin: unset;
  }
}

table {
  border-collapse: collapse;
}

thead {
  border-bottom: 3px solid var(--color-3);
  text-align: auto;
}

tr {
  border-bottom: 1px solid var(--color-3);
}

th, td {
  padding: 6px;
  text-align: left;
}

hr {
  margin: 2em auto;
  width: 38%;
  border: none;
  border-top: 1px solid;
}

/* }}} */
/* Anchor {{{ */

.anchor {
  position: absolute;
  text-decoration: none;
  transform: translateX(-100%);
  padding-right: 5px;
}

.anchor-inner {
  visibility: hidden;
  color: var(--color-2);
}

.anchor:hover .anchor-inner,
  h1:hover .anchor-inner, h2:hover .anchor-inner, h3:hover .anchor-inner,
  h4:hover .anchor-inner, h5:hover .anchor-inner, h6:hover .anchor-inner {
  visibility: visible;
}

.anchor-inner:hover {
  color: var(--color-1);
}

/* }}} */
/* Highlight {{{ */

.highlight tr {
  border: none;
}

.highlight div, .highlight td {
  border-radius: 0.3em;
}

.highlight .lntd pre {
  margin: 0;
  line-height: 1.5;
}

.highlight .lntd:first-child {
  padding: 1em 0.5em 1em 2em;
}

.highlight .lntd:last-child {
  padding: 1em 1em 1em 0.5em;
}

.highlight .lntd .lnt {
  margin: 0;
  padding: 0;
}

code, .highlight code {
  font-family: var(--mono-font-family);
}

.highlight .lntd:first-child, .highlight .lntd:first-child pre {
  background-color: #00242d;
}  

/* }}} */
/* Header {{{ */

header #breadcrumb {
  color: var(--color-2);
}

header h1 {
  margin: 0;
}

header a:not(:hover) {
  text-decoration: none;
}

nav a {
  display: inline-block;
}

nav a:not(:last-child) {
  margin-right: 0.2em;
}

/* }}} */
/* Main & Article {{{ */

main {
  margin: 1.54em 0;
}

main > h1 {
  font-size: 2.5em;
  color: var(--color-2);
}

article {
  margin-bottom: 5vw;
}

article > h1 {
  color: var(--color-0);
}

h2.toc {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 15pt;
}

.toc {
  padding-left: 1rem;
  font-size: smaller;
}

.toc p {
  margin: 0;
}

.toc ol {
  margin-top: 0;
  padding-left: 0;
  list-style-type: decimal;
}

.toc ol ol {
  padding-left: 2em;
}

.toc ::marker {
  content: counters(list-item, '.') '.\A0';
}

/* }}} */
/* Meta & Footer {{{ */

.meta, footer {
  color: var(--color-2);
  font-size: smaller;
}

.meta > * {
  padding: 0 2pt;
}

.meta > :first-child {
  padding-left: 0;
}

.meta > :last-child {
  padding-right: 0;
}

.meta > :not(:last-child) {
  border-right: 2px solid var(--color-3);
}

.tag, nav#paginator > * {
  margin-right: 4pt;
}

footer {
  margin-top: 5vw;
  text-align: center;
}

/* }}} */
/* Index {{{ */

#index {
  max-width: 600px;
  margin: auto;
  display: grid;
  gap: 5px;
}

#sections, #pages {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}

#sections a, #pages a {
  display: block;
  background-color: var(--color-3);
  text-decoration: none;
  color: var(--color-1);
  line-height: 0;
  text-align: center;
}

#sections a:hover, #pages a:hover {
  background-color: var(--color-2);
  color: var(--color-4);
}

#sections a::before, #sections a::after {
  content: "";
  display: block;
  padding-bottom: 50%;
}

#pages a::before, #pages a::after {
  content: "";
  display: block;
  padding-bottom: 10%;
}

/* }}} */
/* List Page with Content {{{ */

#list-page {
  margin-bottom: 5vw;
}

#list-page article {
  margin: 0;
}

#list-page h2.toc {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: revert;
}

#list-page .toc {
  font-size: unset;
}

#list-page .toc ol {
  list-style-type: "• ";
}

#list-page .toc li .meta {
  display: inline;
  margin-left: 2pt;
}

/* }}} */
/* Paginator & Chapters Navigator {{{ */

ul.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.pagination li {
  display: inline;
}

.page-item a:not(:hover), .chapters-navigator a:not(:hover) {
  text-decoration: none;
}

.page-item.disabled a, .page-item.disabled a:hover,
  .chapters-navigator a.disabled, .chapters-navigator a.disabled:hover {
  color: var(--color-3);
}

.page-item.active a, .page-item.active a:hover {
  color: var(--color-1);
}

/* }}} */
/* Print {{{ */

@media print {
  body {
    background: none;
  }

  #outer {
    padding: 0;
  }

  #inner {
    margin: 0;
    padding: 0;
    max-width: none;
  }

  a {
    text-decoration-style: solid;
  }
}

@page {
  margin: 2.54cm 3.18cm;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}

p, blockquote, ul, ol, li {
  orphans: 2;
  widows: 2;
}

/* }}} */
