/*** General */

:root {
  --theme-hue: 0;
  --theme-saturation: 4%;
  --color-0: hsl(var(--theme-hue), var(--theme-saturation), 10%);
  --color-1: hsl(var(--theme-hue), var(--theme-saturation), 20%);
  --color-2: hsl(var(--theme-hue), var(--theme-saturation), 40%);
  --color-3: hsl(var(--theme-hue), var(--theme-saturation), 80%);
  --color-4: hsl(var(--theme-hue), var(--theme-saturation), 98%);
  --zh-font-family:
    'Source Han Sans', 'Noto Sans CJK SC', 'PingFang SC', 'Microsoft Yahei',
    var(--latin-font-family);
  --latin-font-family: 'Source Sans Pro', 'Noto Sans', Tahoma, sans-serif;
  --ipa-font-family: 'Andika Phon', sans-serif;
  --mono-font-family:
    'Fira Code', 'Source Han Sans', 'Noto Sans CJK SC',
    'PingFang SC', 'Microsoft Yahei', monospace;
}
@supports (font-variation-settings: normal) {
  :root {
    --mono-font-family:
      'Fira Code VF', 'Source Han Sans', 'Noto Sans CJK SC',
      'PingFang SC', 'Microsoft Yahei', monospace;
  }
}

:root:lang(zh) {
  font-family: var(--zh-font-family);
}
.ipa {
  font-family: var(--ipa-font-family);
}

:root {
  color: var(--color-0);
}

/*** Body */

body {
  min-height: 100vh;
  background-color: var(--color-4);
  color: var(--color-0);
  line-height: normal;
}

#outer {
  padding: 0 4vw;
}

#inner {
  margin: 0 auto;
  padding: 6px 0;
  max-width: 840px;
}

/*** Header */

header h1 {
  margin: 0;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--color-2);
}

header nav a:not(:hover) {
  text-decoration: none;
}

header nav #breadcrumb {
  margin-right: 1em;
}

header nav #site-nav {
  margin-left: auto;
}

header nav #site-nav a:not(:last-child) {
  margin-right: 0.2em;
}

/*** Footer */

footer {
  color: var(--color-2);
  font-size: smaller;
}

/*** Main */

main {
  margin: 1em 0 2em 0;
}

/*** Main: TOC */

#toc {
  margin: 0;
  padding-left: 1rem;
  font-size: smaller;
}

#toc h2 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.17rem;
}

#toc p {
  margin: 0;
}

#toc ol {
  margin: 0;
  padding-left: 0;
  list-style-type: decimal;
}

#toc ol ol {
  padding-left: 2em;
}

#toc ::marker {
  content: counters(list-item, '.') '.\A0';
}

/*** Main: Meta */

.meta * {
  display: inline;
  color: var(--color-2);
  font-size: smaller;
}

.meta > :not(:last-child) {
  padding-right: 0.2em;
  border-right: 2px solid var(--color-3);
  margin-right: 0.2em;
}

/*** Main: Content */

h1 {
  font-weight: normal;
}

a {
  color: var(--color-2);
  text-decoration-style: dashed;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--color-1);
}
a:hover {
  color: var(--color-1);
  text-decoration-style: solid;
}

.content > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

ul, ol {
  padding-left: 1.15em;
}

blockquote {
  border-left: var(--color-1) solid;
  padding-left: 1em;
  overflow: visible;
}
@media screen and (max-width: 900px) {
  blockquote {
    margin-left: unset;
  }
}

table {
  margin: 1em 0;
  border-collapse: collapse;
}
thead {
  border-bottom: 3px solid var(--color-3);
}
tr {
  border-bottom: 1px solid var(--color-3);
}
th, td {
  padding: 6px;
  text-align: left;
}

hr {
  margin: 2em auto;
  width: 38%;
  border: none;
  border-top: 1px solid;
}

/*** Main: Content: Title Anchors */

.anchor {
  position: absolute;
  text-decoration: none;
  transform: translateX(-100%);
  padding-right: 5px;
}

.anchor-inner {
  visibility: hidden;
  color: var(--color-2);
}

.anchor:hover .anchor-inner,
  h1:hover .anchor-inner, h2:hover .anchor-inner, h3:hover .anchor-inner,
  h4:hover .anchor-inner, h5:hover .anchor-inner, h6:hover .anchor-inner {
  visibility: visible;
}

.anchor-inner:hover {
  color: var(--color-1);
}

/*** Main: Content: Code */

code {
  border-radius: 0.4em;
  background-color: #eee8d5;
  line-height: 1.5;
  font-family: var(--mono-font-family);
  white-space: pre-wrap;
}

div.chroma {
  overflow-x: auto;
  border-radius: 0.4em;
}
.chroma {
  color: #93a1a1;
  background-color: #002b36;
}
.chroma code {
  background-color: unset;
  white-space: pre;
}
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  display: block;
}
.chroma .lntable tr {
  border-bottom: none;
}
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .lntd:last-child {
  width: 100%;
}
.chroma .lntd:last-child code {
  min-width: 100%;
}
.chroma .hl {
  display: inline-block;
  width: 100%;
  background-color: #003642;
}
.chroma .lnt, .chroma .ln {
  margin: 0 0.4em 0 1em;
  padding: 0 0.4em 0 0.4em;
  color: #495050;
}

.chroma .x { color: #cb4b16 }
.chroma .k { color: #719e07 }
.chroma .kc { color: #cb4b16 }
.chroma .kd { color: #268bd2 }
.chroma .kn { color: #719e07 }
.chroma .kp { color: #719e07 }
.chroma .kr { color: #268bd2 }
.chroma .kt { color: #dc322f }
.chroma .nb { color: #b58900 }
.chroma .bp { color: #268bd2 }
.chroma .nc { color: #268bd2 }
.chroma .no { color: #cb4b16 }
.chroma .nd { color: #268bd2 }
.chroma .ni { color: #cb4b16 }
.chroma .ne { color: #cb4b16 }
.chroma .nf { color: #268bd2 }
.chroma .nt { color: #268bd2 }
.chroma .nv { color: #268bd2 }
.chroma .s { color: #2aa198 }
.chroma .sa { color: #2aa198 }
.chroma .sb { color: #586e75 }
.chroma .sc { color: #2aa198 }
.chroma .dl { color: #2aa198 }
.chroma .s2 { color: #2aa198 }
.chroma .se { color: #cb4b16 }
.chroma .si { color: #2aa198 }
.chroma .sx { color: #2aa198 }
.chroma .sr { color: #dc322f }
.chroma .s1 { color: #2aa198 }
.chroma .ss { color: #2aa198 }
.chroma .m { color: #2aa198 }
.chroma .mb { color: #2aa198 }
.chroma .mf { color: #2aa198 }
.chroma .mh { color: #2aa198 }
.chroma .mi { color: #2aa198 }
.chroma .il { color: #2aa198 }
.chroma .mo { color: #2aa198 }
.chroma .o { color: #719e07 }
.chroma .ow { color: #719e07 }
.chroma .c { color: #586e75 }
.chroma .ch { color: #586e75 }
.chroma .cm { color: #586e75 }
.chroma .c1 { color: #586e75 }
.chroma .cs { color: #719e07 }
.chroma .cp { color: #719e07 }
.chroma .cpf { color: #719e07 }
.chroma .gd { color: #dc322f }
.chroma .ge { font-style: italic }
.chroma .gr { color: #dc322f; font-weight: bold }
.chroma .gh { color: #cb4b16 }
.chroma .gi { color: #719e07 }
.chroma .gs { font-weight: bold }
.chroma .gu { color: #268bd2 }

/*** Main: TOC Page */

#toc:last-child {
  font-size: revert;
}

#toc:last-child h2 {
  margin: 0.67em 0;
  font-weight: bold;
  font-size: revert;
}

#toc:last-child ol {
  list-style-type: "• ";
}

#toc:last-child .meta {
  display: inline-block;
  margin-left: 0.2rem;
  border-left: 2px solid var(--color-3);
  padding-left: 0.2em;
  font-size: smaller;
}

/*** Main: Index Page */

#index {
  margin: 20px;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 600px) {
  #index {
    grid-template-columns: 1fr 1fr;
  }
}

#index a {
  display: block;
  background-color: var(--color-3);
  text-decoration: none;
  color: var(--color-1);
  line-height: 0;
  text-align: center;
}

#index a:hover {
  background-color: var(--color-2);
  color: var(--color-4);
}

#index a::before, #index a::after {
  content: "";
  display: block;
  padding-bottom: 50%;
}

/*** Main: List Page */

article:not(:last-child) {
  margin-bottom: 5vw;
}

ul.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.pagination li {
  display: inline;
}

.page-item a:not(:hover), .chapters-navigator a:not(:hover) {
  text-decoration: none;
}

.page-item.disabled a, .page-item.disabled a:hover,
  .chapters-navigator a.disabled, .chapters-navigator a.disabled:hover {
  color: var(--color-3);
}

.page-item.active a, .page-item.active a:hover {
  color: var(--color-1);
}

/*** Page Turner */

.page-turner {
  position: fixed;
  display: block;
  width: 4vw;
  height: 100vh;
  line-height: 0;
  text-decoration: none;
  text-align: center;
  font-size: 8vw;
  color: var(--color-3);
}

.page-turner::before, .page-turner::after {
  content: "";
  display: block;
  padding-bottom: 50vh;
}

.page-turner:hover {
  background-color: var(--color-3);
}

#prev-chapter {
  top: 0;
  left: 0;
}
#next-chapter {
  top: 0;
  right: 0;
}

/*** Print */

@media print {
  body {
    background: none;
  }

  #outer {
    padding: 0;
  }

  #inner {
    margin: 0;
    padding: 0;
    max-width: none;
  }

  a {
    text-decoration-style: solid;
  }

  .content a:not(.anchor)::after {
    display: inline-block;
    content: "(" attr(href) ")";
    text-decoration: none;
    font-size: smaller;
  }
}

@page {
  margin: 2.54cm 3.18cm;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}

p, blockquote, ul, ol, li {
  orphans: 2;
  widows: 2;
}
