{{- define "main" -}}
  {{- $paginator := .Paginate .Pages -}}
  {{- range $paginator.Pages -}}
    <article>
      <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
      {{- partial "main/meta.html" . -}}
      <div class="content">{{- replaceRE "<!-- more -->[^\x00]*" "" .Content | partial "main/content-filter.html" -}}</div>
      {{- if (findRE "<!-- more -->" .Content 1) -}}
        <a href="{{ .RelPermalink }}#more">继续阅读»</a>
      {{- end -}}
    </article>
  {{- else -}}
    暂无内容
  {{- end -}}
  {{- template "_internal/pagination.html" . -}}
{{- end -}}
