{{- define "main" -}}
  {{- $paginator := false -}}
  {{- if eq .Kind "section" -}}
    <h1 id="main-title">{{- .Title -}}</h1>
    {{- $paginator = .Paginate (
      where .Site.Home.Pages "Params.hidden" "ne" "true"
    ) -}}
  {{- else if eq .Kind "term" -}}
    <h1 id="main-title">#{{- .Title -}}</h1>
    {{- $paginator = .Paginate (
      where .Pages "Params.hidden" "ne" "true"
    ) -}}
  {{- end -}}
  {{- range $paginator.Pages -}}
    <article>
      <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
      {{- partial "util/meta.html" . -}}
      <div class="content">
        {{- partial "util/summary.html" . -}}
      </div>
      {{- if (in .Content "<!-- more -->") -}}
        <a href="{{ .RelPermalink }}">继续阅读»</a>
      {{- else -}}
        <a href="{{ .RelPermalink }}#comment">前往评论»</a>
      {{- end -}}
    </article>
  {{- else -}}
    暂无内容
  {{- end -}}
  {{- template "_internal/pagination.html" . -}}
{{- end -}}
