{{- define "main" -}}
  <main>
    <h1 id="main-title">{{- .Title -}}</h1>
    {{- partial "util/meta.html" . -}}
    {{- if .Params.toc -}}
      <div id="toc">
        <h2>目录</h2>
        {{- .TableOfContents -}}
      </div>
    {{- end -}}
    <div class="content">
      {{- .Content | partial "util/content-filter.html" -}}
    </div>
    {{- if .Params.series -}}
      <div id="series-toc">
        <h2>目录</h2>
        {{- partial "util/series-toc.html" . -}}
      </div>
    {{- end -}}
  </main>
{{- end -}}
