{{- define "main" -}}
  <article>
    {{- partial "main/meta.html" . -}}
    {{- if .Params.toc -}}
      <div id="toc">
        <h2>目录</h2>
        {{- .TableOfContents -}}
      </div>
    {{- end -}}
    <div class="content">
      {{- if not (in .Content "<!-- more: -->") -}}
        {{- replaceRE "<!-- more -->" "<div id=\"more\"></div>" .Content | partial "main/content-filter.html" -}}
      {{- else -}}
        {{- .Content | partial "main/content-filter.html" -}}
      {{- end -}}
    </div>
    {{- partial "main/comment.html" -}}
  </article>
{{- end -}}
